* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400;1,600&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    list-style-type: none;
}

#container-wrapper {
    width: 100vw;
    height: 100vh;
}

/* ====Header==== */
.header {
    background-color: #0078d7;
    height: 8rem;
    width: 100vw;
}

.logo {
    margin-left: 1rem;
    height: 9rem;
    object-fit: cover;

}

.menu ul {
    float: right;
    margin-right: 2rem;
}

.menu ul li {
    display: inline-block;
    margin: 0 0.5rem;
    line-height: 8rem;
}

.menu ul li a {
    color: azure;
    padding: 0.7rem 1.3rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1384ee;
    transition: 0.5s;
}

.checkbtn {
    font-size: 3rem;
    color: azure;
    float: right;
    line-height: 8rem;
    margin-right: 4rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* ==== intro Section Css=== */


.span-1 {
    font-size: 4.3rem;
    background: -webkit-linear-gradient(#c51bce, #2d61c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.span-2 {
    font-size: 4.3rem;
    background: -webkit-linear-gradient(#0b72e9, #9817e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro {
    display: flex;
    width: 100%;
    padding: 0 2rem;
    background-image: url("../image/bg-img/josh-rose-fida.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    overflow: hidden;

}

.banner-left {
    width: 50%;
}

.banner-left img {
    width: 80%;
    height: 75%;
}

.myname {
    width: 50%;
}

.center {
    text-align: center;
}

.icon-hey {
    color: #ebee2a;
    font-size: 4rem;
}

.myname h1 {
    font-weight: 700;
    font-size: 4rem;
    padding-top: 2rem;
    color: #e0f8ff;
}

.intro-h3 {
    font-weight: 400;
    font-size: 2.4rem;
    padding-top: 2rem;
    color: #e0f8ff;
}

.peraghraps {
    font-size: 2rem;
    text-align: center;
    background: -webkit-linear-gradient(#bdbdbd, #a7c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%)
}

.btn-grad {
    margin-top: 2.5rem;
    position: center;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline-block;
    margin-left: 17rem;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}